@font-face {
  font-family: Amiri;
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/Amiri-Regular.ttf');
}

@font-face {
  font-family: Overpass;
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/Overpass-ExtraLight.ttf');
}
