@font-face {
  font-family: Amiri;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Amiri-Regular.ttf"); }

@font-face {
  font-family: Overpass;
  font-style: normal;
  font-weight: 100;
  src: url("./fonts/Overpass-ExtraLight.ttf"); }

#q8prayers.dark {
  color: #d9d9d9; }
  #q8prayers.dark table tr {
    border-color: #bebebe; }
  #q8prayers.dark table th {
    color: #bebebe; }
  #q8prayers.dark table tr:nth-last-child(1) th small a {
    color: #bebebe; }
  #q8prayers.dark .q8prayers-error {
    color: #c80000; }

#q8prayers {
  font-size: 20px;
  font-family: Overpass;
  color: #191919; }
  #q8prayers table {
    width: 150px; }
    #q8prayers table tr {
      border: 1px solid gray; }
    #q8prayers table th, #q8prayers table td {
      padding: 5px;
      font-size: .8rem; }
    #q8prayers table th {
      text-align: start;
      color: gray; }
    #q8prayers table td {
      text-align: end; }
    #q8prayers table tr:nth-child(1) th, #q8prayers table tr:nth-child(2) th {
      text-align: center;
      font-size: 1rem; }
    #q8prayers table tr:nth-child(1) {
      border: none; }
    #q8prayers table[dir='rtl'] {
      font-family: Amiri;
      line-height: 1.3; }
    #q8prayers table tr:nth-last-child(1) {
      border: none; }
      #q8prayers table tr:nth-last-child(1) th {
        text-align: center; }
        #q8prayers table tr:nth-last-child(1) th small a {
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-decoration: none;
          color: gray;
          font-size: .5rem; }
  #q8prayers table, #q8prayers th, #q8prayers td {
    border-collapse: collapse; }
  #q8prayers .q8prayers-error {
    color: #af0000;
    font-size: small; }
