@import 'font';
@import 'themes/colors';

#q8prayers{
  font-size: 15px;
  font-family: Overpass;
  color: var(--prayerTimesColor);

  table{
    width: 150px;
    
    tr{
      border: 1px solid var(--tableBorderColor);
    }

    th, td{
      padding: 5px;
      font-size: .9em;
    }
  
    th{
      text-align: start;
      color: var(--tableHeaderColor);
    }

    td{
      text-align: end;
    }
  
    tr:nth-child(1), tr:nth-child(2){
      th{
        text-align: center;
        font-size: 1em;
      }
    }

    tr:nth-child(1){
      border: none;
    }

    &[dir='rtl']{
      font-family: Amiri;
      line-height: 1.3;
    }

    tr:nth-last-child(1){
      border: none;

      th{
        text-align: center;

        small{
          a{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-decoration: none;
            color: var(--tableCreditsColor);
            font-size: .7em;
          }
        }
      }
    }
  }

  table, th, td{
    border-collapse: collapse;
  }

  @import 'error';
}
