@import 'font';
@import 'themes/colors';

#q8prayers{
  font-family: Overpass;
  color: var(--prayerTimesColor);

  table{
    font-size: 15px;
    width: 150px;
    border-collapse: separate;
    border-spacing: 0;
    border-radius: 1rem;
    border: 1px solid var(--tableBorderColor);
    
    tr{
      border: none;
      border-spacing: 0;
      border-radius: 1rem;
    }

    th, td{
      padding: 7px;
      font-size: 1em;
      border-spacing: 0;
      border: none;
    }
  
    th{
      text-align: start;
      color: var(--tableHeaderColor);
    }

    td{
      text-align: end;
    }
  
    tr:nth-child(1), tr:nth-child(2){ 
      th{
        padding: 3px;
        text-align: center;
        font-size: 1.2em;
      }

      small{
        a{
          font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
          text-decoration: none;
          color: var(--tableHeaderColor);
        }
      }
    }

    tr:nth-child(3), tr:nth-child(4), tr:nth-child(5), tr:nth-child(6){
      th {
        border-bottom: 1px solid var(--prayerBorderColor);
      }
      td {
        border-bottom: 1px solid var(--prayerBorderColor);
      }
    }

    tr:nth-child(7){
      th, td{
        padding-bottom: 12px;
      }
    }

    &[dir='rtl']{
      font-family: Amiri;
      line-height: 1.3;
    }
  }

  @import 'error';
}
