@import 'font';
@import './themes/default';
@import './themes/dark';

#q8prayers{
  font-size: 20px;
  font-family: Overpass;
  color: $prayerTimesColor;

  table{
    width: 150px;
    
    tr{
      border: 1px solid $tableBorderColor;
    }

    th, td{
      padding: 5px;
      font-size: .8rem;
    }
  
    th{
      text-align: start;
      color: $tableHeaderColor;
    }

    td{
      text-align: end;
    }
  
    tr:nth-child(1), tr:nth-child(2){
      th{
        text-align: center;
        font-size: 1rem;
      }
    }

    tr:nth-child(1){
      border: none;
    }

    &[dir='rtl']{
      font-family: Amiri;
      line-height: 1.3;
    }

    tr:nth-last-child(1){
      border: none;

      th{
        text-align: center;

        small{
          a{
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            text-decoration: none;
            color: $tableCreditsColor;
            font-size: .5rem;
          }
        }
      }
    }
  }

  table, th, td{
    border-collapse: collapse;
  }

  @import 'error';
}
