#q8prayers{
  --prayerTimesColor: rgb(25, 25, 25);
  --tableBorderColor: hsl(0, 0%, 50%);
  --tableHeaderColor: hsl(0, 0%, 50%);
  --tableCreditsColor: hsl(0, 0%, 50%);
  --errorMessageColor: rgb(175, 0, 0);
}

#q8prayers[data-theme='dark']{
  --prayerTimesColor: hsl(0, 0%, 85%);
  --tableBorderColor: rgb(190, 190, 190);
  --tableHeaderColor: rgb(190, 190, 190);
  --tableCreditsColor: rgb(190, 190, 190);
  --errorMessageColor: rgb(200, 0, 0);
}

#q8prayers[data-theme='black']{
  --prayerTimesColor: hsl(0, 0%, 0%);
  --tableBorderColor: rgb(0, 0, 0);
  --tableHeaderColor: rgb(0, 0, 0);
  --tableCreditsColor: rgb(0, 0, 0);
  --errorMessageColor: rgb(200, 0, 0);
}
