#q8prayers, #q8prayers[data-theme='light']{
  --prayerTimesColor: hsl(0, 0%, 10%);
  --tableHeaderColor: hsl(0, 0%, 50%);
  --tableBorderColor: hsl(0, 0%, 50%);
  --prayerBorderColor: hsl(0, 0%, 80%);
  --errorMessageColor: hsl(0, 100%, 34%);
}

#q8prayers[data-theme='dark']{
  --prayerTimesColor: hsl(0, 0%, 85%);
  --tableHeaderColor: hsl(0, 0%, 75%);
  --tableBorderColor: hsl(0, 0%, 75%);
  --prayerBorderColor: hsl(0, 0%, 50%);
  --errorMessageColor: hsl(0, 100%, 39%);
}

#q8prayers[data-theme='black']{
  --prayerTimesColor: hsl(0, 0%, 0%);
  --tableHeaderColor: hsl(0, 0%, 0%);
  --tableBorderColor: hsl(0, 0%, 0%);
  --prayerBorderColor: hsl(0, 0%, 0%);
  --errorMessageColor: hsl(0, 100%, 39%);
}

#q8prayers[data-theme='white']{
  --prayerTimesColor: hsl(0, 0%, 100%);
  --tableHeaderColor: hsl(0, 0%, 100%);
  --tableBorderColor: hsl(0, 0%, 100%);
  --prayerBorderColor: hsl(0, 0%, 100%);
  --errorMessageColor: hsl(0, 100%, 39%);
}
